.benefitsSection {
    align-self: stretch;
    display: flex;
    margin-top: 300px;
    height: 979px;
    width: 100%;
    flex-direction: column;
    font-family: Be Vietnam Pro, -apple-system, Roboto, Helvetica, sans-serif;
    justify-content: start;
  }
  
  @media (max-width: 991px) {
    .benefitsSection {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  
  .introContainer {
    display: flex;
    height: 364px;
    width: 100%;
    align-items: end;
    gap: 40px 300px;
    justify-content: start;
  }
  
  @media (max-width: 991px) {
    .introContainer {
      max-width: 100%;
    }
  }
  
  .introContent {
    display: flex;
    min-width: 240px;
    min-height: 381px;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    flex: 1;
    flex-basis: 0%;
  }
  
  @media (max-width: 991px) {
    .introContent {
      max-width: 100%;
    }
  }
  
  .sectionTitle {
    color: var(--Grey-15, #262626);
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
  }
  
  @media (max-width: 991px) {
    .sectionTitle {
      max-width: 100%;
      font-size: 40px;
      line-height: 67px;
    }
  }
  
  .sectionDescription {
    color: var(--Grey-35, #59595a);
    font-size: 23px;
    font-weight: 400;
    line-height: 35px;
    margin-top: 6px;
  }
  
  @media (max-width: 991px) {
    .sectionDescription {
      max-width: 100%;
    }
  }
  
  .offeringsHeader {
    display: flex;
    margin-top: 70px;
    min-height: 88px;
    width: 100%;
    align-items: end;
    gap: 40px 300px;
    font-size: 48px;
    color: var(--Grey-15, #262626);
    font-weight: 600;
    justify-content: start;
  }
  
  @media (max-width: 991px) {
    .offeringsHeader {
      max-width: 100%;
      margin-top: 40px;
      font-size: 40px;
    }
  }
  
  .offeringsTitle {
    min-width: 240px;
    width: 100%;
    flex: 1;
  }
  
  .cardsContainer {
    display: flex;
    margin-top: 70px;
    min-height: 478px;
    width: 100%;
    flex-direction: column;
    justify-content: start;
  }
  
  @media (max-width: 991px) {
    .cardsContainer {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  
  .cardsGrid {
    display: flex;
    min-height: 411px;
    width: 100%;
    align-items: start;
    gap: 20px;
    justify-content: start;
    flex-wrap: wrap;
  }
  
  @media (max-width: 991px) {
    .cardsGrid {
      max-width: 100%;
    }
  }